.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
table th {
  font-weight: 500;
}

.App {
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  border-color: green;
}

.form {
  padding: 1em;
}
#color{
  background-color: red;
  margin-left: 40px;
}


.label {
  font-weight: 600;
}
#mov{
  text-align: center;
  color: green ;
  font-family: Bold;

}
#none{
  margin-left: 190px;
}
#log{
  color: green ;
  font-family: Bold;
}

#me{
   color: white;
}
.push{
  margin-top: 50px;
}
#move{
  margin-left: 40px;
  color: white;
}
#reset{
  margin-left: 40px;
}
#list{
   margin-top: 30px;
}
#search{
  width: 20%;
  margin-left: 900px;
}
.jump{
  width: 20%;
}
#jump2{
  width: 20%;
  margin-left: 300px;
  margin-top: -110px;
}

#cono{
  width: 20%;
  margin-left:590px;
  margin-top: -110px;
}

#cant{
  width: 20%;
  margin-left: 900px;
  margin-top: -110px;
}
#marn{
  height: 200px;
}
#push{
  margin-left: 340px;
  margin-bottom: -60px;
}
#margin{
  width: 20%;
  margin-left: 100px;
  margin-top: -5px;
  margin-bottom: -40px;
  z-index: 1;
}
#shift{
  width: 20%;
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: -40px;
  z-index: 1;
}
.sign{
   margin-left: 50px;
}
#btn{
  width:20%;
  margin-left: 400px;
  margin-bottom: 4px;
  background-color: darkgreen;
}
#move{
  margin-bottom: 50px;
  width: 20%;
  margin-left: 400px;
  margin-top: 10px;
}
#cardChange{
  margin: 10px;
  width: 40%;
}
#forgetPwd{
  margin-top:20px;
}
